<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>
<nav class="menu">
  <ul>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#sns">SNS</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<h1 class="hint">LOOK</h1>
<p class="hint">Hover to show menu!</p>
