<div class="work_content">
All works </p>

2022/〇〇/〇〇　××××　</p>
2022/〇〇/〇〇　××××　</p>
2022/〇〇/〇〇　××××　</p>
2022/〇〇/〇〇　××××　</p>

</div>

<div class="about_left">
<%= link_to "BACK", home_top_path %>
</div>